page-login {
    .list-ios > .item-block:first-child {
        border-top: none !important;
    }
    ::-webkit-input-placeholder {
        color: white !important; 
    }
    :-moz-placeholder {
        color: white !important; 
    }
    .item-ios {
        color: white !important;
    }
    .login-page  {
        background-image:url("../../assets/imgs/supermercado.jpg");
        background-repeat: no-repeat;
        background-size: 215% 100%;
        .login {
            padding: 0px !important; 
            background: none;
            .usuario {
                border-bottom:none !important;
                border-top:none !important;
            }
        }
        input {
            color:white;
        }
        .entrar {
            margin-top: 15px;
            height: 35px;
            background: #1c8d47;
        }
        .esqueci-senha {
            margin-top: 35px;
            color: white;
        }
        .copyright {
            padding-top: 70px;
            color: white;
        }
        ion-list {
            padding-top: 20px;
        }
        .logo {
            padding-top: 30px;
        }
    }
}
