<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

<button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>
        </button>
        <ion-title>Produtos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
     <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  <accordion *ngFor="let produto of listaProduto" [title]="produto.descricao">
    <ion-list>
      <ion-item class="produto">
        Código: <b>{{ produto.id }}</b>
      </ion-item>
      <ion-item class="produto">
        Quantidade: <b>{{ produto.quantidade }}</b>
      </ion-item>
      <ion-item class="produto">
        Valor unitário: <b>R$ {{ produto.valorunit }}</b>
      </ion-item>
      <ion-item class="produto">
        <!--{{ produto.valortotal == produto.quantidade * produto.valorunit}}-->
        Valor total: <b>R$ {{ produto.valortotal }}</b>
      </ion-item>
    </ion-list>
    <button ion-button icon-start full class="editar" (click)="goToEdit(produto)">
        Editar
      </button>
  </accordion>
</ion-content>
