page-home {
    .scroll-content{
        background-color: #7ddba1;
        padding: 0 !important;
    }
    .button-inner {
        color: #017a2f;
    }
    ion-searchbar {
        background-color: transparent !important;
    }
}
