page-home {
    .card-ios {
        box-shadow: none;
    }
    .scroll-content{
        background-color:#fff;
        padding: 0 !important;
    }
    .button-inner {
        color: #017a2f;
    }
    ion-searchbar {
        background-color: transparent !important;
    }
    .editar {
        background-color: #1cbd47;
        span {
            color: #fff;
        }
    }
    .button-ios.activated {
        background-color: #017a2f;;
    }
}
